DATABASE_NAME=INSERT_DATABASE_NAME_HERE
DATABASE_USER=INSERT_DATABASE_USER_HERE
DATABASE_PASSWORD=INSERT_DATABASE_PASSWORD_HERE
DATABASE_HOST=INSERT_DATABASE_HOST_HERE
DATABASE_PORT=INSERT_DATABASE_PORT_HERE